@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #aaaaaa;
  background: #212121;
  font-family: serif;
  heigth: 100dvh;
  width: 100vdh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  width: 10rem;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid;
  padding: 0.25rem;
}

.selections-button {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.selection-button {
  margin: 0.4rem 1rem;
  width: 10rem;
  border: 1px solid;
  border-radius: 10px;
}

.img {
  border-radius: 30px;
}
.card {
  width: 90%;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  margin:0 auto;
}
