@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: white;
  background: linear-gradient(180deg, #090833 0%, rgba(28, 4, 58, 0.65) 100%);
  font-family: serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.button {
  width: 80%;
  border-radius: 40px;
  padding: 1rem 4rem;
  margin: 2rem auto;
  border: 1px solid;
}

.selections-button {
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.selection-button {
  margin: 3rem 2rem;
  width: 5rem;
  heigth: 2rem;
  border: 1px solid;
  border-radius: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.gafamImage {
  margin: 0 auto;
}
